<div class="views">
    <!--Title-->
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
        <h1 class="title-general">{{'DASHBOARD.TITLE_PAGE_MENU' | translate}}</h1>
    </div>

    <mat-stepper>
        <mat-step label="{{labelStep1}}" state="shop">
            <!--Table-->
            <div class="table-general">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation(); setRequest(row, 1, !selection.hasValue());"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="idMenu">
                        <th mat-header-cell *matHeaderCellDef> idMenu </th>
                        <td mat-cell *matCellDef="let element"> {{element.idMenu}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row); setRequest(row, 1, selection.isSelected(row));">
                    </tr>
                </table>
            </div>

            <!--Btn next-->
            <div>
                <button mat-button matStepperNext>{{'DASHBOARD.BTN_NEXT' | translate}}</button>
            </div>
        </mat-step>

        <mat-step label="{{labelStep2}}" state="info">
            <!--Formulario-->
            <div *ngIf="isShowStep2">
                <form [formGroup]="generalForm" (ngSubmit)="onSubmit()" novalidate>
                    <div formArrayName="request">
                        <div *ngFor="let r of request.controls; let i=index">
                            <div [formGroupName]="i">
                                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px"
                                    fxLayoutAlign="center center">
                                    <div formGroupName="menu">
                                        <mat-form-field appearance="standard">
                                            <mat-label>
                                                Pedido
                                            </mat-label>
                                            <input matInput id="name" type="text" formControlName="name">
                                        </mat-form-field>
                                    </div>
                                    <mat-form-field appearance="standard">
                                        <mat-label>
                                            Amount
                                        </mat-label>
                                        <input matInput id="amount" type="number" formControlName="amount">
                                        <mat-error *ngIf="r.get('amount')?.hasError('required')">
                                            {{'RESTAURANT.MSG_INPUT_NAME' | translate}}
                                            <strong>{{'GLOBAL_WORD.WORD_REQUERID_MASCULINE'
                                                |
                                                translate}}</strong>
                                        </mat-error>
                                        <mat-error *ngIf="r.get('amount')?.hasError('min')">
                                            Tem valor mínimo
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="input-full-width" appearance="standard">
                                        <mat-label>Observation</mat-label>
                                        <textarea matInput formControlName="observation"></textarea>
                                    </mat-form-field>
                                    <!--<button mat-icon-button (click)="removeRequest(i)"  matTooltip="Retirar da lista" matTooltipPosition="right">
                                    <mat-icon>delete</mat-icon>
                                </button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Btns-->
                    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
                        <div>
                            <button class="button-general-save" type="submit"
                                [disabled]="!generalForm.valid" mat-icon-button>
                                <mat-icon>save</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!--No Data-->
            <div *ngIf="!isShowStep2">
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign="center center">
                    <p>Não há nada!</p>
                </div>
            </div>

            <!--Btn next-->
            <div>
                <button mat-button matStepperPrevious>{{'DASHBOARD.BTN_BACK' | translate}}</button>
                <button mat-button matStepperNext>{{'DASHBOARD.BTN_NEXT' | translate}}</button>
            </div>
        </mat-step>

        <mat-step label="{{labelStep3}}">
            <p>You're welcome.</p>
            <div>
                <button mat-button matStepperPrevious>{{'DASHBOARD.BTN_BACK' | translate}}</button>
            </div>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="shop">
            <mat-icon>shopping_cart</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="info">
            <mat-icon>info</mat-icon>
        </ng-template>
    </mat-stepper>
</div>