<div fxLayout="column">
    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div *ngFor="let m of menusAll">
            <mat-card class="card-menu">
                <mat-card-title-group>
                    <mat-card-title>{{m.name}}</mat-card-title>
                    <mat-card-subtitle>{{m.restaurant.name}}</mat-card-subtitle>
                    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    {{m.description}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>