/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #fafafa; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*CSS BUTTONS*/
.button-general {
    background-color: #dd0000;
    color: #fdfdfd;
}
.button-general:disabled {
    background-color: #fdfdfd;
}
.button-general-save {
    color: #dd0000;
}

/*TITLES*/
.title-general {
    font-weight: bolder !important;
    margin-top: 2% !important;
}

/*TABLES*/
.table-general {
    margin-left: 1%;
    margin-right: 1%;
}