<div>
    <div fxLayout="row">
        <div id="content-1">Os mais pedidos</div>
    </div>
    <div fxLayout="row">
        <div id="content-2">ADS</div>
    </div>
    <div fxLayout="row">
        <div id="content-3">Categorias mais pedidas</div>
        <div id="content-4">Melhores notas</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end">
        <button class="button-general" (click)="redirectDashboardTwo()" mat-button>
            {{ 'DASHBOARD.LIST_ALL_MENU' | translate}}
        </button>
    </div>
</div>